seguimiento/node_modules
seguimiento/public/hot
seguimiento/public/storage
seguimiento/storage/*.key
seguimiento/vendor
/.idea/*
seguimiento/.vscode
seguimiento/.vagrant
seguimiento/npm-debug.log
seguimiento/yarn-error.log
seguimiento/.env
seguimiento/.phpunit.result.cache
seguimiento/ide_helper.php
seguimiento/package-lock.json
commands_phpstorm